@media  (max-width: 1200px) 
 {
    #id1{
        margin-top: -45px;
        margin-left: -15px;
    }
    #up{
      margin-top: -55px;
      padding-left: 40px;
      padding-right: 40px;
    }
    #id2{
        width: 400px;
        height: 520px;
        margin-top: -73px;
      }
      #id4{
        margin-left: 10px;
        margin-top: -90px;
    }
    #idd4{
      margin-left: 10px;
      margin-top: -70px;
  }
  #up{
    margin-top: -55px;
  }
#id5{
 width: 150px;
 height: 38px;
   }
   #id9{
     margin-top: 99px;
     height: 70px;
     width: 90px;
   }

   #id6{
    margin-left: 85px;
  }
  #id7{
   margin-left: -73px;
 }
 #id8{
   margin-left: -70px;
 }
 #id9{
  margin-left: -40px;
  margin-top: 40px;
}
.centered {
  position: absolute;
  top: 84%;
  left: 7%;
  transform: translate(-55%, -70%);
  
}
.top-right 
{
  margin-left: 10px;
  width: 395px;
  margin-top: 10px;
}
#f{
 display: none;
}
#m{
 display: none;
}
#ch{
  font-size: 30px;
}
#tou{
  margin-top: -100px;
  margin-left: 150px;
}
 }

 @media  (min-width: 1201px) 
 {
   #tou{
     margin-left: -120px;
   }
   #ch{
     font-size: 50px;
   }
   #lside{
   margin-left: 80px;
   }
   #f{
     margin-left: 1658px;
     margin-top: -1750px;
   }
   #m{
     margin-left: 1638px;
     margin-top: -1200px;
   }
  .top-right {
    position: absolute;
    top: 495px;
    right: 360px;
    border: 2px solid #ECD9FF;
    width: 450px;
  }
   .centered {
    position: absolute;
    top: 85%;
    left: 0%;
    transform: translate(-50%, -50%);
  }
     #id1{
         margin-top: 30px;
     }
     #id2{
      width: 1090px;
      height: 880px;
      position: relative;
    }
    #id3{
     position: absolute;
     /* margin-top: -150px; */
     top: 50%;
     left: 50%;
     }
     #id4{
         margin-left: 110px;
     
    }
    #id5{
     width: 230px;
     height: 45px;
       }
       #id6{
         margin-left: 72px;
         margin-top: -13px;
       }
       #id7{
        margin-left: -73px;
      }
      #id8{
        margin-left: -70px;
      }
      #id9{
        margin-top: 75px;
        margin-left: -200px;
      }
    
 } 
